.settings__setting{
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings__setting i{
    margin-right: 15px;
    font-size: 22px;
    opacity: 0.7;
}
.settings__setting-column:last-child{
    opacity: 0.5;
}